window {
  font-family: FiraCode Nerd Font, monospace;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(128, 0, 255, 0.75);
  background-color: rgba(32, 0, 64, 0.75);
}
button {
  background: none;
  padding: 5px;
  margin: 0px;
  border: none;
}
button.focused {
  color: rgba(0, 152, 255, 0.85);
}
window#bar {
  border: 1px solid rgba(128, 0, 255, 0.75);
  background-color: rgba(32, 0, 64, 0.75);
  padding: 5px 20px;
}
window#bar .box {
  padding: 5px 13px;
}
window#bar .box button {
  color: rgba(192, 64, 255, 0.75);
}
window#bar .box button:hover {
  color: rgba(192, 192, 255, 0.85);
}
window#system-controls {
  border: none;
}
window#system-controls button {
  font-size: 48px;
  border: 1px solid white;
  border-radius: 10px;
}
window#system-controls button:focus {
  color: rgb(0, 152, 255);
  border-color: rgb(0, 152, 255);
}
window#clock-window {
  font-size: 8em;
}
window#clock-window .clock {
  margin: 50px;
}
window#VolumePopup box {
  font-size: 48px;
  padding: 10px 20px;
}
